<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>registerValidation</servlet-name>
        <servlet-class>registerValidation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>indexValidation</servlet-name>
        <servlet-class>indexValidation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>genrateValidation</servlet-name>
        <servlet-class>genrateValidation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>confirmValidation</servlet-name>
        <servlet-class>confirmValidation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>withdrawValidation</servlet-name>
        <servlet-class>withdrawValidation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>depositValidation</servlet-name>
        <servlet-class>depositValidation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatePin</servlet-name>
        <servlet-class>updatePin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registerValidation</servlet-name>
        <url-pattern>/registerValidation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>indexValidation</servlet-name>
        <url-pattern>/indexValidation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>genrateValidation</servlet-name>
        <url-pattern>/genrateValidation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>confirmValidation</servlet-name>
        <url-pattern>/confirmValidation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>withdrawValidation</servlet-name>
        <url-pattern>/withdrawValidation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>depositValidation</servlet-name>
        <url-pattern>/depositValidation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatePin</servlet-name>
        <url-pattern>/updatePin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
